$white-color: #fff;
$white-color2: #efeff7;
$white-color3: #f7f6fb;
$black-color: #000;
$text-color: #333;
$gray-color: #666;
$gray-color2: #33333d;
$gray-color3: #282834;
$orange: #f66962;
$price: #f7942e;


$icon_design-bg-color: #efeff7;
$icon_design-color: #5343a5;

$icon_dev-bg-color: #fdf3e9;
$icon_dev-color: #ef9156;

$icon_it-bg-color: #dcf7fe;
$icon_it-color: #47c0f0;

$icon_bus-bg-color: #e5fae9;
$icon_bus-color: #60d46d;

$icon_marketing-bg-color: #efeff7;
$icon_marketing-color: #5444a6;

$icon_photograp-bg-color: #dcf7fe;
$icon_photograp-color: #22b3ed;

$star-color: #f3bb4f;
$star-eye: #e26830;
$play-color: #6eaf8b;

$button-color: #bababf;
$button-color2: #f9b674;
$box-shadow1: #e7f5ff;

$breakpoint-sm: 480px;
$breakpoint-md: 768px;
